<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="component filters">
        <button class="filter btn" id="filter-toggle">filters <span id="filter-counter"></span> <img
            src="/assets/img/ico-down-arrow.svg"></button>
        <form class="filters-container">
          <div class="filters-inner-wrapper">
            {% include components/molecules/filter.html label: "dividend yield" %}
            {% include components/molecules/filter.html label: "dividend volatility" %}
            {% include components/molecules/filter.html label: "stock price" %}
            {% include components/molecules/filter.html label: "stock volatility" %}
            {% include components/molecules/filter.html label: "apy" %}
            {% include components/molecules/filter.html label: "median apy" %}
            {% include components/molecules/filter.html label: "records" %}
            {% include components/molecules/filter.html label: "volume" %}
            {% include components/molecules/filter.html label: "stock types" %}
            {% include components/molecules/filter.html label: "frequency" %}
          </div>
          <div class="btn-container">
            <input type="submit" value="apply" class="btn" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="module">
import Filters from '/interfaces/Filters.js'
new Filters('form.filters-container')
</script>