<div class="component table">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <table cellspacing="0" cellpadding="0" {% if source %}data-source="{{ source }}" {% endif %}>
          <thead>
            <tr class="label">
              <td>ticker</td>
              <td>stock price</td>
              <td>
                <span class="d-block d-md-none">div yield ($)</span>
                <span class="d-none d-md-block">dividend yield (dollar)</span>
              </td>
              <td>
                <span class="d-block d-md-none">div yield (%)</span>
                <span class="d-none d-md-block">dividend yield (percent)</span>
              </td>
            </tr>
            <!-- <tr class="spacer-large"></tr> /-->
          </thead>
          <tbody class="information"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>