---
layout: default
---

{% include components/header.html title: stock.company
save_button: true
ticker: stock.ticker %}

<input type="hidden" value="{{ stock.ticker }}" id="ticker-interface">
<div class="layout stock">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <h3>{{ stock.ticker }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="information-container">
          <div class="information-item">
            <span class="label">stock price</span>
            <span class="information">$ {{ stock.stock_price | round: 2 }}</span>
          </div>

          <div class="information-item">
            <span class="label">stock volatility</span>
            <span class="information">{{ stock.stock_volatility | round: 2 }}</span>
          </div>

          <div class="information-item">
            <span class="label">dividend volatility</span>
            <span class="information">{{ stock.dividend_volatility | round: 2 }}</span>
          </div>

          <div class="information-item">
            <span class="label">Annual dividend yield</span>
            <span class="information" data-projected>$ {{ stock.dividend_yield | round: 2 }}</span>
          </div>

          <div class="information-item">
            <span class="label">Annual percentage yield</span>
            <span class="information" data-projected>% {{ stock.percentage_yield | round: 2 }}</span>
          </div>

          <div class="information-item">
            <span class="label">Median APY</span>
            <span class="information" data-projected>% {{ stock.median_percentage_yield | round: 2
              }}</span>
          </div>

          <div class="information-item">
            <span class="label">trade volume (last month)</span>
            <span class="information">{{ stock.volume }}</span>
          </div>

          <div class="information-item">
            <span class="label">number of records</span>
            <span class="information">
              {{ stock.history_size }}
              {% if stock.history_size > 48 %}
              <span class="projected">(showing 48)</span>
              {% endif %}
            </span>
          </div>

          <div class="information-item">
            <span class="label">more information</span>
            <span class="information">
              <a href="https://finance.yahoo.com/quote/{{ stock.ticker }}" target="_blank">Yahoo
                finance</a>
            </span>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="chart-wrapper">
          <div class="chart-container">
            <canvas height="100" id="stock-chart"></canvas>
          </div>

          <div class="chart-container">
            <canvas height="100" id="dividend-chart"></canvas>
          </div>

          <div class="chart-container">
            <canvas height="100" id="percentage-chart"></canvas>
          </div>

          <div class="chart-container">
            <canvas height="100" id="volume-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>