<div class="nav-container">
  <div class="main-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="flex-container wrapper">
            <a class="flex-container left" href="/">
              <img src="/assets/img/logo.svg">
              <h1>Dividend List</h1>
            </a>
            <nav>
              <ul class="interface d-none d-xl-block">
                <li>
                  <a href="/" class="{% if title == 'home' %}active{% endif %}">Home</a>
                </li>
                <li>
                  <a href="/guides" class="{% if title == 'guides' %}active{% endif %}">Guides</a>
                </li>
                <li>
                  <a href="/about" class="{% if title == 'about' %}active{% endif %}">About</a>
                  <ul>
                    <li><a href="/about">About this site</a></li>
                    <li><a href="/about/changelog">Changelog</a></li>
                    <li><a href="https://changemap.co/coastlight-digital/the-dividend-list/" target="_blank">Public
                        roadmap</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/saved-stocks" class="{% if title == 'saved stocks' %}active{% endif %}">Saved stocks</a>
                </li>
              </ul>
              <span class="material-symbols-outlined d-block d-xl-none" data-bind="mobile-nav-button">menu_open</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-nav" data-bind="mobile-nav">
  <nav>
    <header>
      <h2>Menu</h2>
      <span class="material-symbols-outlined" data-bind="mobile-nav-button">menu_open</span>
    </header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/guides">Guides</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/about/changelog">Changelog</a></li>
      <li><a href="https://changemap.co/coastlight-digital/the-dividend-list/" target="_blank">Public Roadmap</a></li>
      <li><a href="/saved-stocks">Saved stocks</a></li>
    </ul>
  </nav>
</div>