.component.changelog-entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: $spacing-300;
  border-bottom: 1px solid $neutral-600;
  padding: $spacing-800 $spacing-400;
  max-width: 680px;

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: $spacing-400;

    h3 {
      max-width: 80%;
    }

    @media screen and (min-width: $screen-sm) {
      flex-direction: row;
      column-gap: $spacing-400;
    }
  }

  @media screen and (min-width: $screen-sm) {
    padding: $spacing-900 0;
  }

  &.first {
    padding-top: 0;
  }
}