.component.filters {
  margin-bottom: $spacing-600;
  padding: 0 $spacing-400;

  @media screen and (min-width: $screen-sm) {
    padding: 0;
  }

  .filters-container {
    border: 1px solid $neutral-500;
    padding: $spacing-1100;
    margin-top: -$spacing-400;
    opacity: 0;
    display: none;
    transition: 400ms opacity;

    .filters-inner-wrapper{
      display: grid;
      grid-template-columns: 1fr;
      column-gap: $spacing-1000;
      row-gap: $spacing-800;

      @media screen and (min-width: $screen-md) {
        grid-template-columns: 1fr 1fr;
      }
  
      @media screen and (min-width: $screen-lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    .btn-container {
      display: flex;
      flex-direction: row;
      justify-content: right;
      margin-top: $spacing-1000;
    }
  }

  &.open {
    .filter.btn {
      img {
        transform: rotate(180deg);
      }
    }

    .filters-container {
      display: block;
      opacity: 1;
    }
  }
}