.component.header {
  header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: $spacing-1000 $spacing-400;

    @media screen and (min-width: $screen-sm) {
      padding: $spacing-1000 0;
    }

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: $spacing-1100 0;

      h2 {
        margin-bottom: 0;
      }
    }

    .search-wrapper,
    button {
      margin-top: $spacing-600;

      @media screen and (min-width: $screen-md) {
        margin-top: 0;
      }
    }
  }
}