.layout.stock {
  padding: 0 $spacing-400;

  @media screen and (min-width: $screen-sm) {
    padding: 0;
  }

  .information-container {
    margin: $spacing-1100 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    max-width: 920px;
    row-gap: $spacing-1000;
    column-gap: $spacing-400;

    .information-block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: $spacing-800;
      padding: $spacing-500 $spacing-600;
      width: 100%;

      @media screen and (min-width: $screen-md) {
        column-gap: 72px;
        width: initial;
      }

      @media screen and (min-width: $screen-lg) {
        column-gap: 80px;
      }

      &.blue,
      &.orange {
        .information-item {
          width: 50%;
        }

        @media screen and (min-width: $screen-md) {
          .information-item {
            width: initial;
          }
        }
      }

      &.blue {
        border: 1px solid $blue-100;
        background: $blue-200;
      }

      &.orange {
        border: 1px solid $orange-100;
        background: $orange-200;
      }

      &.green {
        border: 1px solid $primary-100;
        background: $neutral-1000;

        .information-item {
          width: 50%;

          @media screen and (min-width: $screen-md) {
            width: initial;
          }
        }
      }

      .information-item {
        display: flex;
        flex-direction: column;

        .label {
          margin-bottom: $spacing-400;
        }

        .information {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;

          span {
            margin-left: $spacing-200;
          }
        }

        .projected {
          font-size: 16px;
          color: $neutral-400;
          margin-left: $spacing-200;
        }
      }
    }
  }

  .chart-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .chart-container {
      width: 100%;

      @media screen and (min-width: $screen-xl) {
        width: 50%;
      }
    }
  }

  canvas {
    margin-bottom: $spacing-1200;
  }
}