<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{{ globals.title }} | {{ title }}</title>
  <meta name="description" content="{{ description | default: globals.description }}">
  <meta name="robots" content="{{ robots | default: 'index,follow' }}">


  <!-- favicons /-->
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  {% include og-tags.html %}

  {% if globals.environment == "production" %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NPRRQNQ2Y7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-NPRRQNQ2Y7');
  </script>
  {% endif %}

  <!-- fonts /-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


  <!-- bootstrap /-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ globals.cssPath }}">
</head>

<body class="{{ title | slugify }}">
  {% include components/Nav.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="module">
    import TooltipController from '/controllers/TooltipController.js'
    new TooltipController()
  </script>

  {% if globals.environment == "development" %}
  <input type="hidden" value="development" data-bind="environment">
  {% endif %}
</body>

</html>