/* SPACING */
/* COLOR */
/* BREAKPOINTS */
/* Z INDEXES */
/* MISC */
* {
  font-family: "Mukta", sans-serif;
}

h1,
h2,
h3,
label,
p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 600;
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  h3 {
    font-size: 28px;
  }
}

p,
ol {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}
p strong,
ol strong {
  font-weight: 600;
}
p a,
ol a {
  text-decoration: underline;
}

p.alert {
  font-size: 16px;
  line-height: normal;
  border: 1px solid #ABB2AA;
  padding: 16px;
}

ol li:not(:last-child) {
  margin-bottom: 16px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2%;
}

.interface {
  font-size: 24px;
  font-weight: 400;
}

.information {
  font-size: 20px;
  font-weight: 300;
}

a {
  color: inherit;
}
a:hover {
  color: #1D7C2A;
}

.btn {
  background: #F8FBF8;
  color: #121312;
  border: 1px solid #707B6F;
  font-size: 24px;
  font-weight: 400;
  width: 140px;
}
.btn:hover {
  background: #1D7C2A;
  color: #F8FBF8;
  border-color: #1D7C2A;
}
.btn.filter {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  width: initial;
  border-color: #959C94;
}
.btn.filter img {
  margin-left: 8px;
}
.btn.filter:hover {
  background: #F8FBF8;
  color: initial;
  border-color: initial;
}

.nav-container {
  position: relative;
  height: 124px;
}

.main-nav {
  padding: 36px 0;
  background: #1D7C2A;
  color: #F8FBF8;
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: padding 400ms;
}
@media screen and (min-width: 992px) {
  .main-nav {
    padding: 40px 0;
  }
}
.main-nav.sticky {
  padding: 16px 0;
}
.main-nav .flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-nav .flex-container.left {
  justify-content: start;
}
.main-nav .flex-container.wrapper {
  justify-content: space-between;
}
.main-nav .flex-container h1 {
  font-size: 32px;
}
@media screen and (min-width: 1200px) {
  .main-nav .flex-container h1 {
    font-size: 36px;
  }
}
.main-nav .flex-container img {
  margin-right: 16px;
  width: 60px;
}
@media screen and (min-width: 768px) {
  .main-nav .flex-container img {
    width: initial;
  }
}
@media screen and (min-width: 992px) {
  .main-nav .flex-container img {
    margin-right: 24px;
    width: initial;
  }
}
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav ul li {
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
}
.main-nav ul li a:hover,
.main-nav ul li a.active {
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .main-nav ul li {
    margin-left: 24px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1400px) {
  .main-nav ul li {
    margin-left: 44px;
  }
}
.main-nav [data-bind=mobile-nav-button] {
  font-size: 52px;
  cursor: pointer;
}
.main-nav a {
  color: inherit;
  text-decoration: none;
}

body.open {
  overflow: hidden;
}
body.open .mobile-nav {
  right: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  z-index: 4;
  background: #DEE3DE;
  transition: right 400ms;
  overflow: scroll;
}
.mobile-nav header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 32px 0 44px;
}
.mobile-nav header span {
  font-size: 52px;
  transform: rotate(180deg);
  cursor: pointer;
}
.mobile-nav ul {
  list-style: none;
  margin: 24px 0;
  padding: 0;
  font-size: 24px;
}
.mobile-nav ul li a {
  display: block;
  border-bottom: 1px solid #ABB2AA;
  padding: 16px 44px;
}
.mobile-nav ul li:first-child a {
  border-top: 1px solid #ABB2AA;
}

footer {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer a {
  text-decoration: underline;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #959C94;
  max-width: 260px;
}

input[type=text].search {
  border: none;
  background: inherit;
  font-weight: 300;
  margin-left: 12px;
  width: 100%;
}

input[type=number] {
  background: inherit;
  border: 1px solid #C7CCC7;
  padding: 4px 8px;
}

.layout.stock {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .layout.stock {
    padding: 0;
  }
}
.layout.stock .information-container {
  margin: 44px 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 920px;
  row-gap: 40px;
  column-gap: 16px;
}
.layout.stock .information-container .information-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 32px;
  padding: 20px 24px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .layout.stock .information-container .information-block {
    column-gap: 72px;
    width: initial;
  }
}
@media screen and (min-width: 1200px) {
  .layout.stock .information-container .information-block {
    column-gap: 80px;
  }
}
.layout.stock .information-container .information-block.blue .information-item, .layout.stock .information-container .information-block.orange .information-item {
  width: 50%;
}
@media screen and (min-width: 992px) {
  .layout.stock .information-container .information-block.blue .information-item, .layout.stock .information-container .information-block.orange .information-item {
    width: initial;
  }
}
.layout.stock .information-container .information-block.blue {
  border: 1px solid #a0cddc;
}
.layout.stock .information-container .information-block.orange {
  border: 1px solid #f1cb92;
}
.layout.stock .information-container .information-block.green {
  border: 1px solid #95d19d;
}
.layout.stock .information-container .information-block.green .information-item {
  width: 50%;
}
@media screen and (min-width: 992px) {
  .layout.stock .information-container .information-block.green .information-item {
    width: initial;
  }
}
.layout.stock .information-container .information-block .information-item {
  display: flex;
  flex-direction: column;
}
.layout.stock .information-container .information-block .information-item .label {
  margin-bottom: 16px;
}
.layout.stock .information-container .information-block .information-item .information {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.layout.stock .information-container .information-block .information-item .information span {
  margin-left: 8px;
}
.layout.stock .information-container .information-block .information-item .projected {
  font-size: 16px;
  color: #707B6F;
  margin-left: 8px;
}
.layout.stock .chart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout.stock .chart-wrapper .chart-container {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .layout.stock .chart-wrapper .chart-container {
    width: 50%;
  }
}
.layout.stock canvas {
  margin-bottom: 48px;
}

.component.header header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 40px 16px;
}
@media screen and (min-width: 768px) {
  .component.header header {
    padding: 40px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.header header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;
  }
  .component.header header h2 {
    margin-bottom: 0;
  }
}
.component.header header .search-wrapper,
.component.header header button {
  margin-top: 24px;
}
@media screen and (min-width: 992px) {
  .component.header header .search-wrapper,
  .component.header header button {
    margin-top: 0;
  }
}

.component.table {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .component.table {
    padding: 0;
  }
}
.component.table table {
  width: 100%;
}
.component.table table .spacer {
  height: 16px;
}
.component.table table .spacer-large {
  height: 24px;
}
.component.table table tr:last-child td {
  border-bottom: none;
}
.component.table table td {
  width: 20%;
  border: none;
  border-bottom: 1px solid #DEE3DE;
  padding: 20px 0;
  vertical-align: middle;
}
.component.table table td a {
  font-weight: 500;
  color: inherit;
  text-decoration: underline;
}
.component.table table td .subtitle {
  font-size: 16px;
  color: #707B6F;
  margin-right: 16px;
}
@media screen and (min-width: 576px) {
  .component.table table td:first-child {
    width: 25%;
  }
  .component.table table td {
    width: 20%;
  }
  .component.table table td:last-child {
    width: 10%;
  }
}
.component.table table thead {
  position: sticky;
  top: 76px;
  background: #F8FBF8;
}
.component.table table thead td {
  padding: 24px 0;
  cursor: pointer;
}
.component.table table thead td.active.desc::after {
  content: url("/assets/img/ico-down-arrow.svg");
  display: inline-block;
  margin-left: 4px;
}
.component.table table thead td.active.asc::after {
  content: url("/assets/img/ico-up-arrow.svg");
  display: inline-block;
  margin-left: 4px;
}
.component.table table thead td span {
  pointer-events: none;
  display: inline-block;
}

.component.header-paragraph {
  margin-bottom: 44px;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .component.header-paragraph {
    padding: 0;
  }
}
.component.header-paragraph h3 {
  margin-bottom: 16px;
}

.component.filters {
  margin-bottom: 24px;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .component.filters {
    padding: 0;
  }
}
.component.filters .filters-container {
  border: 1px solid #959C94;
  padding: 44px;
  margin-top: -16px;
  grid-template-columns: 1fr;
  column-gap: 40px;
  row-gap: 32px;
  opacity: 0;
  display: none;
  transition: 400ms opacity;
}
@media screen and (min-width: 992px) {
  .component.filters .filters-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .component.filters .filters-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.component.filters.open .filter.btn img {
  transform: rotate(180deg);
}
.component.filters.open .filters-container {
  display: grid;
  opacity: 1;
}

.molecule.filter label {
  text-transform: uppercase;
  margin-bottom: 8px;
}
.molecule.filter .range-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.molecule.filter .range-container input {
  width: 48%;
}

body {
  background: #F8FBF8;
}
body main {
  min-height: calc(100vh - 172px);
}

.tooltip {
  position: absolute;
  border: 1px solid #ABB2AA;
  background: #F8FBF8;
  z-index: 4;
  opacity: 1;
  padding: 8px 12px;
  pointer-events: none;
  border-radius: 4px;
  max-width: 300px;
}
.tooltip span {
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

/*# sourceMappingURL=main.css.map */
