.btn {
  background: $neutral-1000;
  color: $neutral-100;
  border: 1px solid $neutral-400;
  font-size: 24px;
  font-weight: 400;
  width: 140px;

  &:hover {
    background: $primary-100;
    color: $neutral-1000;
    border-color: $primary-100;
  }
}