* {
  font-family: 'Mukta', sans-serif;
}

h1,
h2,
h3,
label,
p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: bold;

  @media screen and (min-width: $screen-md) {
    font-size: 36px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 600;

  @media screen and (min-width: $screen-md) {
    font-size: 32px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;

  @media screen and (min-width: $screen-md) {
    font-size: 28px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

p,
ol {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;

  strong {
    font-weight: 600;
  }

  a {
    text-decoration: underline;
  }
}

p.alert {
  font-size: 16px;
  line-height: normal;
  border: 1px solid $neutral-600;
  padding: $spacing-400;
}

ol {
  li:not(:last-child) {
    margin-bottom: $spacing-400;
  }
}

.label {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2%;
}

.interface {
  font-size: 24px;
  font-weight: 400;
}

.information {
  font-size: 20px;
  font-weight: 300;
}

a {
  color: inherit;

  &:hover {
    color: $primary-100;
  }
}

time {
  font-weight: 300;
  font-size: 18px;
}