@import 'variables';
@import 'type';
@import 'btns';
@import 'nav';
@import 'footer';
@import 'inputs';

// LAYOUTS 
@import 'layouts/stock';

// COMPONENTS
@import 'components/header';
@import 'components/table';
@import 'components/header-paragraph';
@import 'components/filters';
@import 'components/changelog-entry';

// MOLECULES
@import 'components/molecules/filter';

body {
  background: $neutral-1000;

  main {
    min-height: calc(100vh - 172px);
  }
}

.tooltip {
  position: absolute;
  border: 1px solid $neutral-600;
  background: $neutral-1000;
  z-index: 4;
  opacity: 1;
  padding: $spacing-200 $spacing-300;
  pointer-events: none;
  border-radius: 4px;
  max-width: 300px;

  span {
    font-weight: 500;
    text-transform: uppercase;
    display: block;
  }
}