---
layout: default
title: about
---

{% include components/header.html title: "About this site" %}


{% capture paragraph %}
In searching for information on dividend stocks, it can be hard to find a straightforward and comprehensive list of
options. This site seeks to remedy that, and in so doing, make
selecting the appropriate dividend stocks for your clients' portfolios a little easier.
{% endcapture %}
{% include components/header-paragraph.html header: "Why this site" paragraph: paragraph %}

{% capture paragraph %}
The key goal of this site is to assist in the discovery and qualification of dividend paying stocks.
While the site contains accurate and up-to-date information, it is always prudent to do
additional research before selecting stocks to purchase.
{% endcapture %}
{% include components/header-paragraph.html header: "How to use this site" paragraph: paragraph %}

{% capture paragraph %}
<strong>This site only tracks US-based dividend stocks with monthly and quarterly payouts</strong>.
<br><br>
This site updates its database once daily.
{% endcapture %}
{% include components/header-paragraph.html header: "Important information" paragraph: paragraph %}


{% capture paragraph %}
<div id="tou"></div>
<p>
  This site does not give any financial advice, nor is it responsible for any actions taken by its users. Any trades,
  transactions, or financial dealings that users engage in are entirely their own responsibility.
  While Dividend List strives to be an accurate and useful resource, it will not be held liable for any innacurate
  information posted on this site or any related services.
  <strong>In using this service, users agree to these terms</strong>.
</p>
{% endcapture %}
{% include components/header-paragraph.html header: "Terms of use" paragraph: paragraph %}