.molecule.filter {
  label {
    text-transform: uppercase;
    margin-bottom: $spacing-200;
  }

  .range-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    input {
      width: 48%;
    }

    select {
      background: $neutral-1000;
      border: 1px solid $neutral-700;
      width: 100%;

      &.single {
        padding: $spacing-100 $spacing-200;
      }

      option {
        padding: $spacing-100 $spacing-200;

        &:checked {
          background: $primary-200;
          color: $neutral-1000
        }
      }
    }
  }
}