<div class="component table">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="d-block d-lg-none">
          <p class="alert">
            <strong>Please note</strong>: this table is currently truncated (hiding some data columns)
            in order to fit this screen.
          </p>
        </div>
        <table class="stocks" cellspacing="0" cellpadding="0" {% if type %}data-type="{{ type }}"{% endif %}>
          <thead></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="module">
import StockTableController from '/controllers/StockTableController.js'
new StockTableController('table.stocks');
</script>